<div class="col-lg-12 my-2" [@fadeLateral]>
  <h3>{{title}}</h3>

  <form class="form-inline my-2">
    <div class="form-group">
      <label for="busqueda">Buscar:</label>
      <input type="text" id="busqueda" name="busqueda" [(ngModel)]="busqueda" class="form-control mx-sm-3" aria-describedby="searchHelp">
      <small id="searchHelp" class="badge badge-success" *ngIf="busqueda">
        Término de busqueda: <span class="font-weight-bold"> {{ busqueda }} </span>
      </small>
    </div>
  </form>

  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th>Nombre</th>
        <th>Año</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animals | search: busqueda">
        <td>{{animal.name}}</td>
        <td>{{animal.year}}</td>
        <td>
          <a class="btn btn-sm btn-success mr-1" [routerLink]="['/animal', animal._id]">
            <i class="fa fa-eye"></i>
            Ver
          </a>
          <a class="btn btn-sm btn-primary mr-1" [routerLink]="['/admin-panel/editar', animal._id]">
            <i class="fa fa-edit"></i>
            Editar
          </a>
          <!-- Button trigger modal -->
          <a role="button" class="btn btn-sm btn-danger" data-toggle="modal" href="#deleteModal-{{animal._id}}">
            <i class="fa fa-trash"></i>
            Borrar
          </a>
          <!-- Modal -->
          <div class="modal fade" id="deleteModal-{{animal._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Confirmar eliminación</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ¿ Estás seguro de que quires eliminar el animal <strong> {{animal.name}} </strong> ?
                  <p class="text-warning float-right mt-3"><small class="font-weight-bold">Si borras este animal no podrás recuperarlo</small></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" (click)="deleteAnimal(animal._id)">Eliminar</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
