<div class="col-lg-8 col-lg-offset-2 mx-auto">
  <div class="jumbotron">
      <h1>{{title}}</h1>
      <p>Disfruta de los animales más exóticos de nuestro zoologico :)</p>
      <p>
        <a class="btn btn-primary btn-lg mr-1" [routerLink]="['/animales']">Ver animales</a>
        <a class="btn btn-success btn-lg mr-1" [routerLink]="['/cuidadores']">Ver cuidadores</a>
        <a class="btn btn-warning btn-lg" [routerLink]="['/contacto']">Contacta con nosotros</a>
      </p>
  </div>
  <div class="clearfix">
    <main-email></main-email>
  </div>
</div>
