/* You can add global styles to this file, and also import other style files */
.navigation.col-lg-12{
  margin-top: 10px;
}

.jumbotron {
  padding: 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px grey;
}

.navbar-nav .active {
  border-bottom: 3px solid black;
}

.boton_transiciones {
  padding: 10px;
  background: turquoise;
  color: white;
  border-radius: 20px;
  border: 1px solid lightblue;
  /* transition:all 2s; */
  transition:border 2s, border-radius 500ms, background 5s;
  display: block;
  width: 100px;
}

.boton_transiciones:hover {
  /* text-decoration: none; */
  /* color: white; */
  cursor: pointer;
  border-radius: 2px;
  background: #ccc;
  border: 1px solid red;
}

.caja_animada {
  background: green;
  border: 5px solid black;
  width: 200px;
  height: 200px;
}
